langchain-community>=0.3.26,<0.4.0  # Allows any 0.3.x version up to, but not including, 0.4.0
transformers==4.42.0
torch==2.3.0
pypdf==4.2.0
streamlit==1.46.1
sentence-transformers==5.0.0
faiss-cpu==1.11.0